$screen-xs:                   0 !default;
$screen-sm:                   479.98px !default;
$screen-md:                   767.98px !default;
$screen-lg:                   991.98px !default;
$screen-xl:                   1199.98px !default;
$screen-xxl:                  1400px !default;

$container-xs:                320px !default;
$container-sm:                540px !default;
$container-md:                720px !default;
$container-lg:                960px !default;
$container-xl:                1140px !default;
$container-xxl:               1320px !default;
/////////////////////Основные
/////////////////////Переменные

//Min max width------------------------------------------
$minWidth: 340px;
$maxWidth: 1440; // вся ширина макета
$maxWidthContainer: 1140; // ширина ограничивающего контейнера
////////////////////////////////////////FONTS
//Fonts---------------------------------------------------------------


////////////////////////////////////////COLORS
//Colours-------------------------------------------------------------
$primary: #b01798;
$primary-90: rgba($primary, .9);

$secondary: #C4C4C4;
$secondary-80: rgba($secondary, .8);
$secondary-60: rgba($secondary, .6);
$secondary-40: rgba($secondary, .4);
$secondary-20: rgba($secondary, .2);

$blue: #1730B9;

$shape: #ffffff;
$gray:  #C4C4C4;
$soft-black: #000000;
$body-bg: #ffffff;

//Shadow--------------------------------------------------------------
$shadow-1: 0px 9px 20px rgba(0, 0, 0, 0.12);

//Gradients-----------------------------------------------------------
$gradient: linear-gradient(180deg, rgba($primary, .15), rgba($secondary, 0));

//lk
$lk-gap: 30px;
$lk-gap-m: 15px;
$lk-color: black;
$lk-color-hvr:rgb(255, 255, 255);
$lk-side-bg: rgb(251, 251, 251);
// Обычные переменные
//--color:blue;
//color: var(--color);
//@media (min-width: $screen-sm) {
//  --color:red;
//}
//@include breakpoint(sm)

//@include padding(1px 1px 1px 1px,1px 1px 1px 1px,1px 1px 1px 1px)

//@include fontsize3x(1px,1px,1px)

//@include fontsize2x(1px,1px,1px)

//@include flex(center, center, 0px)

//////Брейкпоинты-------------------------------------
//-    @include breakpoint(sm) //sm, md, lg, xl, xxl
////////
@mixin breakpoint($minwidth){
  @if $minwidth == sm{
    @media (min-width: $screen-sm) {
      @content;
    }
  }
  @else if $minwidth == xs{
    @media (min-width: $screen-xs) {
      @content;
    }
  }
  @else if $minwidth == md{
    @media (min-width: $screen-md) {
      @content;
    }
  }
  @else if $minwidth == lg{
    @media (min-width: $screen-lg) {
      @content;
    }
  }
  @else if $minwidth == xl{
    @media (min-width: $screen-xl) {
      @content;
    }
  }
  @else if $minwidth == xxl{
    @media (min-width: $screen-xxl) {
      @content;
    }
  }
  @else {
    @error "Unknown width #{$minwidth}.";
  }
}

@mixin flex($justify, $aligh, $gap){
  display: flex;
  @if ($justify != null){
    justify-content: $justify;
  }
  @if ($aligh != null){
    align-items: $aligh;
  }
  @if ($gap != null){
    gap: $gap;
  }
}
//////Паддинг на 3х брейкпоинтах
//-   @include padding(1px 1px 1px 1px,1px 1px 1px 1px,1px 1px 1px 1px)
////////
@mixin padding($padxs, $padmd, $padlg){
  padding: $padxs;
  @include breakpoint(md){
    padding: $padmd;
    }
  @include breakpoint(lg){
    padding: $padlg;
    }
}

//////Размер шрифта на 3х брейкпоинтах
//-   @include fontsize(1px,1px,1px)
////////
@mixin fontsize3x($fzxs, $fzmd, $fzlg){
  font-size: $fzxs;
  @include breakpoint(md){
    font-size: $fzmd;
    }
  @include breakpoint(lg){
    font-size: $fzlg;
    }
}
@mixin fontsize2x($fzxs, $fzmd){
  font-size: $fzxs;
  @include breakpoint(md){
    font-size: $fzmd;
    }
}
///НЕ ТРОГАТЬ..///НЕ ТРОГАТЬ..///НЕ ТРОГАТЬ..///НЕ ТРОГАТЬ..///НЕ ТРОГАТЬ..///НЕ ТРОГАТЬ..
//////Адаптивный размер шрифта-------------------------------------
//-    @include adaptiv-font() //sm, md, lg, xl, xxl
////////
// 