//////////////////////////////////CSS GRID
.grid{
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $screen-md) {
    display: grid;
    grid-template-rows: auto;
  }
  &-md-2{
    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &-lg-2{
    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &-xl-2{
    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &-md-3{
    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &-lg-3{
    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &-xl-3{
    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &-md-4{
    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &-lg-4{
    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  &-xl-4{
    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.gap{
  &-20{
    gap: 20px;
  }
  &-10{
    gap: 10px;
  }
}

/////////////////////////////////Bootstrap Containers
@mixin container () {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: $screen-xs) {
    max-width: $container-xs;
  }
  @media (min-width: $screen-sm) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg) {
    max-width: $container-lg;
  }
  @media (min-width: $screen-xl) {
    max-width: $container-xl;
  }
  @media (min-width: $screen-xxl) {
    max-width: $container-xxl;
  }
}

.container {
  @include container;
  &-full{
    display: block;
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //padding-right: 15px;
    //padding-left: 15px;

    &-xl{
      @extend .container-full;
      @include breakpoint(xl){
        max-width: $container-xl;
      }
      @media (min-width: $screen-xxl) {
        max-width: $container-xxl;
      }
    }
    &-md{
      @extend .container-full;
      @media (min-width: $screen-md) {
        max-width: $container-md;
      }
      @media (min-width: $screen-lg) {
        max-width: $container-lg;
      }
      @media (min-width: $screen-xl) {
        max-width: $container-xl;
      }
      @media (min-width: $screen-xxl) {
        max-width: $container-xxl;
      }
    }
  }
  &-fluid{
    @extend .container-full;
  }
}

////////////////////FLEXBOX
.flex{
  &-center{
    display: flex;
    justify-content: center;
  }
  &-column{
    display: flex;
    flex-direction: column;
  }
  &-between{
    display: flex;
    justify-content: space-between;
  }
  &-around{
    display: flex;
    justify-content: space-around;
  }
  &-end{
    display: flex;
    justify-content: flex-end;
  }
  &-start{
    display: flex;
    justify-content: flex-start;
  }
  &-wrap{
    display: flex;
    flex-wrap: wrap;
  }
}

.no-wrap,
.flex-no-wrap {
  flex-wrap: nowrap;
}