//////////////////////////////////CSS GRID V2
////////////////////////GRID

.d-grid {
  width: 100%;
  z-index: 1;
  position: relative;
  display: flex; //backup
  flex-direction: column;
  display: grid;
  &-auto{
      display: grid;
      grid-template-rows: auto;
  }
  &-md{
    @include breakpoint(md) {
      display: grid;
      grid-template-rows: auto;
    }
  }
  &-lg{
    @include breakpoint(lg) {
      display: grid;
      grid-template-rows: auto;
    }
  }
  &-xl{
    @include breakpoint(xl) {
      display: grid;
      grid-template-rows: auto;
    }
  }
}

.grid{
  &-2 {
    grid-template-columns: repeat(2, 1fr );
  }
  &-3 {
    grid-template-columns: repeat(3, 1fr );
  }
  &-4 {
    grid-template-columns: repeat(4, 1fr );
  }
  &-md{
    @include breakpoint(md) {
      &-2 {
        grid-template-columns: repeat(2, 1fr );
      }
      &-3 {
        grid-template-columns: repeat(3, 1fr );
      }
      &-4 {
        grid-template-columns: repeat(4, 1fr );
      }
    }
  }
  &-lg{
    @include breakpoint(lg) {
      &-2 {
        grid-template-columns: repeat(2, 1fr );
      }
      &-3 {
        grid-template-columns: repeat(3, 1fr );
      }
      &-4 {
        grid-template-columns: repeat(4, 1fr );
      }
    }
  }
  &-xl{
    @include breakpoint(xl) {
      &-2 {
        grid-template-columns: repeat(2, 1fr );
      }
      &-3 {
        grid-template-columns: repeat(3, 1fr );
      }
      &-4 {
        grid-template-columns: repeat(4, 1fr );
      }
    }
  }
}

.gap{
  &-30{
    gap: 30px;
  }
  &-20{
    gap: 20px;
  }
  &-10{
    gap: 10px;
  }
}

/////////////////////////////////Bootstrap Containers
@mixin container () {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @media (min-width: $screen-xs) {
    max-width: $container-xs;
  }
  @media (min-width: $screen-sm) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg) {
    max-width: $container-lg;
  }
  @media (min-width: $screen-xl) {
    max-width: $container-xl;
  }
  @media (min-width: $screen-xxl) {
    max-width: $container-xxl;
  }
}

.container {
  @include container;
  &-full{
    display: block;
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    //padding-right: 15px;
    //padding-left: 15px;

    &-xl{
      @extend .container-full;
      @include breakpoint(xl){
        max-width: $container-xl;
      }
      @media (min-width: $screen-xxl) {
        max-width: $container-xxl;
      }
    }
    &-md{
      @extend .container-full;
      @media (min-width: $screen-md) {
        max-width: $container-md;
      }
      @media (min-width: $screen-lg) {
        max-width: $container-lg;
      }
      @media (min-width: $screen-xl) {
        max-width: $container-xl;
      }
      @media (min-width: $screen-xxl) {
        max-width: $container-xxl;
      }
    }
  }
  &-fluid{
    @extend .container-full;
  }
}

////////////////////FLEXBOX
.flex{


}
